<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <listeners>
<listener class-name="PT.TestComponents.Listners"/>
</listeners>




    <test thread-count="5" name="MyProfile_Change_Password">
    <classes>
      <class name="TransData.PT_Project.MyProfile_Change_Password"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
